{% extends "layouts/admin.twig" %}

{% block title %}UM | Edit Students Information{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Edit Students Information</h1>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                        {% if error %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Oh snap!</strong> {{ error }}
                        </div>
                    {% endif %}
                    <div class="col-lg-12">

                        <div class="row">
                        <div class="col-sm-12">

                                <form class="form form-horizontal" enctype="multipart/form-data" role="form" method="post" action="/Enrolment/students/update">
                                <input type="hidden" name="id" value="{% if student %}{{ student.id }}{% endif %}">
                                    <div class="col-lg-12">

                                        <div class="form-group">
                                            <div class="col-sm-6">
                                            <label class="control-label">First Name</label>
                                            <input type="text" class="form-control" id="first_name" name="first_name" value="{% if student %}{{ student.first_name }}{% endif %}">
                                        </div></div>
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                            <label class="control-label">Middle Name</label>
                                            <input type="text" class="form-control" id="middle_name" name="middle_name" value="{% if student %}{{ student.middle_name }}{% endif %}">
                                        </div></div>
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                            <label class="control-label">Last Name</label>
                                            <input type="text" class="form-control" id="last_name" name="last_name" value="{% if student %}{{ student.last_name }}{% endif %}">
                                        </div></div>
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                            <label class="control-label">Birth Date</label>
                                            <input type="text" class="form-control" id="birth_date" name="birth_date" value="{% if student %}{{ student.birth_date }}{% endif %}">
                                        </div></div>
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                            <label class="control-label">Gender</label>
                                            <select id="gender" class="form-control" name="gender">
                                                <option value="Male" {% if student.gender == "Male" %}selected{% endif %}>Male</option>
                                                <option value="Female" {% if student.gender == "Female" %}selected{% endif %}>Female</option>
                                            </select>
                                        </div></div>
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                            <label class="control-label">Address</label>
                                            <input type="text" class="form-control" id="address" name="address" value="{% if student %}{{ student.address }}{% endif %}">
                                        </div></div>
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                            <label class="control-label">Civil Status</label>
                                            <select id="civil_status_id"  class="form-control" name="civil_status_id" value="{% if student %}{{ student.civil_status_id }}{% endif %}">
                                                <option value="Single" {% if student.civil_status_id == "Single" %}selected{% endif %}>Single</option>
                                                <option value="Married" {% if student.civil_status_id == "Married" %}selected{% endif %}>Married</option>
                                                <option value="Divorced" {% if student.civil_status_id == "Divorced" %}selected{% endif %}>Divorced</option>
                                                <option value="Widowed" {% if student.civil_status_id == "Widowed" %}selected{% endif %}>Widowed</option>
                                            </select>
                                        </div></div>
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <label class="control-label">Civil Status</label>
                                                <select id="civil_status_id" name="civil_status_id" class="form-control">
                                                    <option value="Single" {% if student.civil_status_id == "Single" %}selected{% endif %}>Single</option>
                                                    <option value="Married" {% if student.civil_status_id == "Married" %}selected{% endif %}>Married</option>
                                                    <option value="Divorced" {% if student.civil_status_id == "Divorced" %}selected{% endif %}>Divorced</option>
                                                    <option value="Widowed" {% if student.civil_status_id == "Widowed" %}selected{% endif %}>Widowed</option>
                                                </select>
                                            </div></div>

                                <div class="form-group">
                                <div class="col-lg-4">
                                    <input type="submit" class="btn btn-warning btn-sm btn-block" name="submit" value="Update Record" />
                                </div>
                                </div>
                            <?php

            </div>

{% endblock %}