{% extends "layouts/admin.twig" %}

{% block title %}UM | Payment History{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Comprehensive Transaction History : </h1>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Transaction Date</th>
                        <th>Amount</th>
                        <th>Payment Mode</th>
                        <th>Reference Number</th>
                        <th>Payment For</th>
                        <th>Period</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for payment in payments %}
                        <tr>
                            <td>{{ payment.personal_info_id }}</td>
                            <td>{{ payment.created_at }}</td>
                            <td>{{ payment.amount|number_format(2, '.', ',') }}</td>
                            <td>{{ payment.description }}</td>
                            <td>{{ payment.reference_number }}</td>
                            <td>{{ payment.fee_id }}</td>
                            <td>{{ payment.semester }} {{ payment.school_year }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <a href="/Enrolment/payment/new" class="btn btn-primary">New Payment</a>
            </div>
        </div>
    </div>
{% endblock %}